.App {
  height: 100dvh;
  width: 100vw;
  display: flex;
  background-color: #1d2022;
}

* {
  font-family: "Noto Sans TC", sans-serif;
  scrollbar-width: none;
}

.simplebar-scrollbar::before {
  background-color: gray;
}

.manageUserItem:hover .cancelBtn {
  color: #b7b7b7;
}

.scrollToBottom {
  transform: translateX(-50%);
}
